<%= render "form", student: @student %>

<br>

<div class="d-flex justify-content-between mt-3">
  <%= link_to "Show this student", @student, class: "btn btn-outline-primary" %>
  <%= link_to "Back to Students", students_path, class: "btn btn-secondary" %>
</div>
